<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Product List</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            .delete-button {
                width: 1%;
            }
        </style>
    </head>

    <body>

        <div class="container my-2">
            <h2>Products List</h2>
            <a th:href="@{/product/create}" class="btn btn-primary btn-sm mb-3">Create Product</a>

            <table  class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="product: ${products}">

                    <td th:text="${product.productId}"></td>

                    <td th:text="${product.productName}"></td>

                    <td>
                        <button type="button" class="btn btn-sm btn-primary" onclick="decrementQuantity(this)">
                            -
                        </button>

                        <span th:text="${product.productQuantity}" class="mx-2"></span>

                        <button type="button" class="btn btn-sm btn-success" onclick="incrementQuantity(this)">
                            +
                        </button>

                        <a class="btn btn-info" th:href="@{/product/edit/{productId}(productId=${product.productId})}">
                            EDIT
                        </a>
                    </td>

                    <td class = "delete-button">
                        <button type="button" class="btn btn-danger btn-sm" onclick="deleteProduct(this)">
                            <a th:href="@{/product/delete/{productId}(productId=${product.productId})}"
                               method="get"
                               style="color: inherit; text-decoration: none; cursor: pointer;">
                                Delete
                            </a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <script>
            function incrementQuantity(button) {
                var quantitySpan = button.parentElement.querySelector('.mx-2');
                var currentQuantity = parseInt(quantitySpan.innerText);
                quantitySpan.innerText = currentQuantity + 1;

                updateProductQuantity(currentQuantity + 1);
            }

            function decrementQuantity(button) {
                var quantitySpan = button.parentElement.querySelector('.mx-2');
                var currentQuantity = parseInt(quantitySpan.innerText);

                // Ensure quantity doesn't go below 0
                if (currentQuantity > 0) {
                    quantitySpan.innerText = currentQuantity - 1;
                    updateProductQuantity(currentQuantity - 1);
                }
            }

            function deleteProduct(button) {
                var row = button.closest('tr');
                row.remove();
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>